<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drone Controller</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <style>
        .jumbotron {
        text-align: center
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            **************************************************<br>
            Welcome to the Drone Controller Top Secret System!<br>
            **************************************************<br>
            <hr class="my-4">
            <fieldset>
                <legend>Please select from the following options:<br></legend>
                <form action="/routing2" method="get">
                    <input type="radio" name="add_drone" value="add_drone">Add Drone<br>
                    <input type="radio" name="view_drone" value="view_drone">View Drone<br>
                    <input type="radio" name="move_drone" value="move_drone">Move Drone<br>
                    <input type="radio" name="get_distance" value="get_distance">Get Distance<br>
                    <input type="radio" name="quit" value="quit">Quit<br>
                    <input type="submit" value="Submit"><br>
                </form>
            </fieldset>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>
</html>