<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User Account</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <style>
    .jumbotron {
    text-align: center
    }
    </style>

</head>
<body>
    <div class="container">
        <div class="jumbotron">
            *************<br>
            New User Menu<br>
            *************<br>
            <hr class="my-4">
            <fieldset>
                <legend>Create New Username and Password</legend>
                    <form action="/new_user">
                        Enter new username: <br>
                        <input type="text" name="username">
                        <br>Enter new password: <br>
                        <input type="text" name="password">
                        <br>
                        <input type="submit">
                    </form>
            </fieldset>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


</body>
</html>